{% extends 'base.html.twig' %}

{% block title %} CV
{% endblock %}

{% block body %}

<h1> Créez votre CV </h1>

<form method="post" action="{{ path('app_home') }}" class="bg-gray-300 rounded px-8 pt-6 pb-8 mb-4">
        <label for="firstname" class="block text-gray-700 font-medium mb-2">Prénom :</label>
        <input type="text" id="firstname" name="firstname" required class="border border-gray-400 p-2 w-full">
        <label for="lastname" class="block text-gray-700 font-medium mb-2">Nom :</label>
        <input type="text" id="lastname" name="lastname" required class="border border-gray-400 p-2 w-full">
        <label for="email" class="block text-gray-700 font-medium mb-2">Adresse Email :</label>
        <input type="email" id="email" name="email" required class="border border-gray-400 p-2 w-full">
        <label for="postal" class="block text-gray-700 font-medium mb-2">Adresse :</label>
        <input type="text" id="postal" name="postal" required class="border border-gray-400 p-2 w-full">
        <label for="tel" class="block text-gray-700 font-medium mb-2">Numéro de téléphone :</label>
        <input type="text" id="tel" name="tel" required class="border border-gray-400 p-2 w-full">
        <label for="linkedin" class="block text-gray-700 font-medium mb-2">Lien Linkedin :</label>
        <input type="text" id="linkedin" name="linkedin" required class="border border-gray-400 p-2 w-full">
        <label for="professionalExperiences" class="block text-gray-700 font-medium mb-2">Expériences professionnelles :</label>
        <p>Vous pouvez ajouter plusieurs expériences professionnelles</p>
        <input type="text" id="name" name="name" required class="border border-gray-400 p-2 w-full">
        <input type="text" id="description" name="description" required class="border border-gray-400 p-2 w-full">
        <input type="text" id="place" name="place" required class="border border-gray-400 p-2 w-full">
        <input type="date" id="dateStart" name="dateStart" required class="border border-gray-400 p-2 w-full">
        <input type="date" id="dateEnd" name="dateEnd" required class="border border-gray-400 p-2 w-full">
        <label for="diploma" class="block text-gray-700 font-medium mb-2">Diplômes :</label>
            <select name="diploma" id="diploma" class="border border-gray-400 p-2 w-full">
                {% for diploma in diplomas %}
                    <option value="{{ diploma.id }}">{{ diploma.name }}</option>
                {% endfor %}
            </select>
        <label for="skill" class="block text-gray-700 font-medium mb-2">Compétences :</label>
            <select name="skill" id="skill" class="border border-gray-400 p-2 w-full">
                {% for skill in skills %}
                    <option value="{{ skill.id }}">{{ skill.name }}</option>
                {% endfor %}
            </select>
        <label for="hobby" class="block text-gray-700 font-medium mb-2">Loisirs :</label>
            <select name="hobby" id="hobby" class="border border-gray-400 p-2 w-full">
                {% for hobby in hobbies %}
                    <option value="{{ hobby.id }}">{{ hobby.name }}</option>
                {% endfor %}
            </select>
        <label for="language" class="block text-gray-700 font-medium mb-2">Langues :</label>
            <select name="language" id="language" class="border border-gray-400 p-2 w-full">
                {% for language in languages %}
                    <option value="{{ language.id }}">{{ language.name }}</option>
                {% endfor %}
            </select>
        <label for="color_first" class="block text-gray-700 font-medium mb-2">Couleur 1 :</label>
        <input type="color" id="color_first" name="color_first" required class="border border-gray-400 p-2 w-full">
        <label for="color_second" class="block text-gray-700 font-medium mb-2">Couleur 2 :</label>
        <input type="color" id="color_second" name="color_second" required class="border border-gray-400 p-2 w-full">
        <div class="flex items-center justify-between mt-4">
            <input type="submit" value="Se connecter" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
    </form>

{% endblock %}